In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.utils import to_categorical
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.text import *
from tensorflow.keras.preprocessing.sequence import pad_sequences
# Import mlcompute module to use the optional set_mlc_device API for device selection with ML Compute.
from tensorflow.python.compiler.mlcompute import mlcompute
from konlpy.tag import Mecab
import pickle

In [2]:
pd.set_option('display.unicode.east_asian_width', True)

# Select GPU device.
mlcompute.set_mlc_device(device_name='gpu') # Available options are 'cpu', 'gpu', and ‘any'.

WARNING:tensorflow:Eager mode uses the CPU. Switching to the CPU.

In [3]:
raw_df = pd.read_csv('/Users/san/work/python/Deep_Learning/LSTM_DNN_PJT/data/raw_data.csv', index_col=0)
raw_df.head(10)

,Title,Medium_category,Small_category,Introduction,cnt
1,-10KG 밀가루 단식,가정 살림,요리,내 몸 리셋 다이어트 10kg 밀가루 단식 저자의 100일 밀가루 단식 다이어...,1
2,디디미니의 초간단 인생맛 고단백 저탄수화물 다이어트 레시피 ...,가정 살림,요리,맛있고 배부른데 살까지 빠지는 다이어트 레시피 끝판왕 101가지 2018년...,1
3,맛있게 쓴 옥주부 레시피 100,가정 살림,요리,옥주부가 매일 자신의 인스타그램에 밥상 메뉴를 올리는 이유는 뭐 먹고 사는지 ...,1
4,세상 쉽고 맛있는 튼이 이유식,가정 살림,요리,쌀가루 큐브 밥솥 칸막이를 활용한 최초의 이유식 책 엄마의 정성과 사랑...,1
5,맛있게 살 빠지는 고단백 저탄수화물 다이어트 레시피...,가정 살림,요리,다이어트 할 때도 맛있게 먹어야 성공한다 미니는 22kg 엄마는 17kg을 ...,1
6,임지호의 밥 땅으로부터,가정 살림,요리,면역력이 시대의 슬로건이 된 이때 모두에게 추천하는 임지호의 들풀밥상 ...,1
7,유아식 레시피북,가정 살림,요리,아이가 잘 안 먹는 것은 엄마 잘못이 아니에요 돌부터 요리를 시작하는 ...,1
8,와인이 있는 100가지 장면,가정 살림,요리,라라랜드 에서 미아가 꿈속에서 마시는 와인은 뭘까 아이언맨 의 토니 스타...,1
9,백종원이 추천하는 집밥 메뉴 애장판,가정 살림,요리,국민 요리책 백종원이 추천하는 집밥 메뉴 시리즈 합본 한정판 1 4탄 백...,1
10,[예스리커버] 매직 레시피,가정 살림,요리,난생처음 요리하는 당신이라도 전문점 맛 그대로 YouTube 요리 ...,1

In [4]:
print('initial:', len(raw_df))

initial: 41170

## data 공백 처리

In [5]:
for i in range(len(raw_df)):
    for j in range(5, 1, -1):
        raw_df.iloc[i,3] = raw_df.iloc[i,3].replace(' '*j,  ' ')

In [6]:
print('after gap-healing:', len(raw_df))

after gap-healing: 41170

## data 중복 제거

In [7]:
# null값 확인
# raw_df['Introduction'].isnull().values.any()

In [8]:
# 중복된 data 개수 확인
sum_dup = raw_df.Introduction.duplicated().sum()
sum_dup

184

In [9]:
# 중복된 data 제거(row)
df = raw_df.drop_duplicates(subset=['Introduction'])
sum_dup = df.Introduction.duplicated().sum()
sum_dup

0

In [10]:
print('after dropna', len(df))

after dropna 40986

In [11]:
# 새로운 index 할당
df.reset_index(drop=True, inplace=True) # drop=True : 기존 index를 제거
df

,Title,Medium_category,Small_category,Introduction,cnt
0,-10KG 밀가루 단식,가정 살림,요리,내 몸 리셋 다이어트 10kg 밀가루 단식 저자의 100일 밀가루 단식 다이어트 ...,1
1,디디미니의 초간단 인생맛 고단백 저탄수화물 다이어트 레시피 ...,가정 살림,요리,맛있고 배부른데 살까지 빠지는 다이어트 레시피 끝판왕 101가지 2018년 201...,1
2,맛있게 쓴 옥주부 레시피 100,가정 살림,요리,옥주부가 매일 자신의 인스타그램에 밥상 메뉴를 올리는 이유는 뭐 먹고 사는지 자랑...,1
3,세상 쉽고 맛있는 튼이 이유식,가정 살림,요리,쌀가루 큐브 밥솥 칸막이를 활용한 최초의 이유식 책 엄마의 정성과 사랑이 듬뿍 담...,1
4,맛있게 살 빠지는 고단백 저탄수화물 다이어트 레시피...,가정 살림,요리,다이어트 할 때도 맛있게 먹어야 성공한다 미니는 22kg 엄마는 17kg을 감량하...,1
...,...,...,...,...,...
40981,한국인의 초보 사주팔자,인문,명리/주역/풍수,인생 쉽지 않다 생각한 대로 흘러가지 않기 때문이다 지성과 이성으로 내린 선택과 ...,1
40982,다르게 살고 싶다,인문,명리/주역/풍수,나는 어떤 사람인가 타인의 욕망을 좇는 삶에서 자기 주도적인 삶으로 이 책은 스펙...,1
40983,주역과 만나다 하,인문,명리/주역/풍수,주역 은 한마디로 변화 의 책이다 변화는 밤하늘을 화려하게 수놓는 일월성신의 규칙...,1
40984,주역과 만나다 중,인문,명리/주역/풍수,주역 은 하늘과 땅 해와 달 바람과 우레 뫼와 연못이라는 여덟 가지 형상을 우주의...,1
40985,주역과 만나다 상,인문,명리/주역/풍수,주역 은 소통의 힘을 알려주는 인류가 낳은 지혜의 창고이다 주역 은 문명과 역사에...,1

In [12]:
Medium_ctg = df['cnt'].groupby(df['Medium_category'])  # 12개의 category
Medium_ctg.sum()

Medium_category
가정 살림           2494
건강 취미           3156
경제 경영           3607
국어 외국어 사전    2496
만화/라이트노벨     5694
사회 정치           2858
소설/시/희곡        4774
수험서 자격증       3716
어린이              3806
유아                3084
인문                2720
청소년              2581
Name: cnt, dtype: int64

## category 병합

In [13]:
columns = list(df.columns)
columns

['Title', 'Medium_category', 'Small_category', 'Introduction', 'cnt']

In [14]:
len(df)

40986

In [15]:
df['Large_category'] = 0

df.loc[(df['Medium_category'] == '가정 살림') | (df['Medium_category'] == '건강 취미'), 'Large_category'] = '가정/건강'
df.loc[(df['Medium_category'] == '인문') | (df['Medium_category'] == '사회 정치') | (df['Medium_category'] == '경제 경영'), 'Large_category'] = '인문/사회/경영'
df.loc[(df['Medium_category'] == '국어 외국어 사전') | (df['Medium_category'] == '수험서 자격증'), 'Large_category'] = '사전/자격증'
df.loc[(df['Medium_category'] == '만화/라이트노벨'), 'Large_category'] = '만화'
df.loc[(df['Medium_category'] == '소설/시/희곡'), 'Large_category'] = '소설/시/희곡'
df.loc[(df['Medium_category'] == '어린이') | (df['Medium_category'] == '유아') | (df['Medium_category'] == '청소년'), 'Large_category'] = '어린이/청소년'

<ipython-input-15-1e6e02433b0e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Large_category'] = 0
/Users/san/miniforge3/envs/AI86/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [16]:
Large_ctg = df['cnt'].groupby(df['Large_category'])  # 6개의 category
Large_ctg.sum()

Large_category
가정/건강         5650
만화              5694
사전/자격증       6212
소설/시/희곡      4774
어린이/청소년     9471
인문/사회/경영    9185
Name: cnt, dtype: int64

## Book Introduction Preprocessing

## data를 X, Y로 분할

In [18]:
X = df['Introduction']
Y = df['Large_category']

## Y(label) 처리

In [19]:
# Y값 label Encoding
encoder = LabelEncoder()
labeled_Y = encoder.fit_transform(Y)
label = encoder.classes_
print(label)
print(labeled_Y)

['가정/건강' '만화' '사전/자격증' '소설/시/희곡' '어린이/청소년' '인문/사회/경영']
[0 0 0 ... 5 5 5]

In [20]:
# encoding mapping 정보를 저장
with open('/Users/san/work/python/Deep_Learning/LSTM_DNN_PJT/data/category_encoder.pickle', 'wb') as f:
  pickle.dump(encoder, f)

In [22]:
# label을 onehot encoding으로 변환
onehot_Y = to_categorical(labeled_Y)
print(onehot_Y)

[[1. 0. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0.]
 ...
 [0. 0. 0. 0. 0. 1.]
 [0. 0. 0. 0. 0. 1.]
 [0. 0. 0. 0. 0. 1.]]

## X(data) 처리

### 형태소 분석

In [25]:
tokenizer = Mecab()
print(tokenizer.morphs('아버지가방에들어가신다'))

AttributeError: module 'MeCab' has no attribute 'Morphs'

In [23]:
# 형태소 분석 okt test
okt = Okt()
print('형태소 분석')
print('target :', X[0])
test = okt.morphs(X[0])
print('result :', test)

JVMNotFoundException: No JVM shared library file (libjli.dylib) found. Try setting up the JAVA_HOME environment variable properly.

In [24]:
print(X.shape)
print(len(X))

(40986,)
40986

In [25]:
# 형태소 분석 된 X data 저장
X.to_csv('./data/morphs_X_1.csv')

### 불용어 제거
- 영어, 숫자도 제거할 것인지?

In [26]:
# 불용어 제거
stopwords = pd.read_csv('./data/stopwords.csv')

# 불용어 제거 후 형태소로 이루어진 문장으로 재조합
for i in range(len(X)) :
  result = []
  for j in range(len(X[i])):
    if len(X[i][j]) > 1:  # 길이가 한 글자인 것은 지움
      if X[i][j] not in list(stopwords['stopword']):
        result.append(X[i][j])
  X[i] = ' '.join(result)
  if (i % 250 == 0) and (i>1):
    print('.', end='')
  if i % 5000 == 0:
    print('{} / {}'.format(i, len(X)))
print(X)

ipykernel_launcher:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
0 / 40986
....................5000 / 40986
....................10000 / 40986
....................15000 / 40986
....................20000 / 40986
....................25000 / 40986
....................30000 / 40986
....................35000 / 40986
....................40000 / 40986
...0        리셋 다이어트 10 kg 밀가루 단식 저자 100일 밀가루 단식 다이어트 매주 새로...
1        맛있고 배부른데 빠지는 다이어트 레시피 끝판 101 가지 2018년 2019년 20...
2        주부 매일 인스타그램 밥상 메뉴 올리는 이유 먹고 사는지 자랑 하려는 절대 엄마 아...
3        가루 큐브 밥솥 칸막이 활용 최초 이유식 엄마 정성 사랑 듬뿍 담긴 이유식 현실 쉽...
4        다이어트 맛있게 먹어야 성공한다 미니 22 kg 엄마 17 kg 감량 수많은 다이어...
                                            ...
40981    인생 쉽지 흘러가지 지성 이성 내린 선택 판단 절대 이지 느꼈을 불확실 성의 시대 ...
40982    인가 욕망 좇는 주도 스펙 승진 명예 사회 주입 욕망 좇아온 10년 직장인 사주 만...
40983    주역 변화 변화 밤하늘 화려하게 놓는 일월성신 규칙 운동 펼쳐지는 다양한 기후 현상...
40984    주역 하늘 해와 바람 우레 연못 가지 형상 우주 근원 만물 변화 설명 준거로 삼았 ...
40985    주역 소통 알려주는 인류 낳은 지혜 창고 주역 문명 역사 깊은 통찰 천명 으로부터 ...
Name: Introduction, Length: 40986, dtype: object

In [27]:
# 불용어 제거된 X data 저장
X.to_csv('./data/stopwords_removed_X_2.csv')

### 토크나이징

In [28]:
# tokenizing : 각 형태소에 숫자 label값을 배정
token = Tokenizer()
token.fit_on_texts(X)  # 형태소에 어떤 숫자를 배정할 것인지
tokened_X = token.texts_to_sequences(X)  # 토큰에 저장된 label을 바탕으로 문장(X)을 변환
print(tokened_X[0])

[16483, 993, 180, 5186, 6332, 3991, 24, 8876, 6332, 3991, 993, 5910, 22, 200, 311, 4762, 2440, 129, 40256, 993, 8876, 335, 23, 34, 6243, 129, 2440, 5304, 40256, 993, 6332, 8769, 180, 5186, 5729, 8876, 886, 638, 4827, 1305, 3955, 546, 577, 457, 1510, 870, 57938, 41, 27160, 96180, 23281, 3731, 4863, 1736, 870, 7995, 457, 870, 3391, 47, 2349, 16887, 632, 16269, 8876, 96181, 78, 200, 6269, 864, 7132, 88, 5729, 328, 2267, 1627, 8385, 241, 29379, 6332, 8769, 8386, 1172, 24780, 11517, 441, 3551, 63360, 434, 2677, 125568, 2164, 508, 5350, 3281, 6332, 15119, 632, 3206, 3500, 96182, 296, 53669, 670, 361, 6332, 3991, 6062, 2803, 641, 47, 1474, 125569, 6, 1038, 296, 798, 3433, 1736, 744]

In [32]:
# token 저장
# tokened_X.to_csv('./data/tokened_X_3.csv')

In [29]:
# 데이터 형태 그대로 저장
with open('./data/book_token.pickle', 'wb') as f:
  pickle.dump(token, f)

## data 확인

In [33]:
# 형태소 개수 확인
wordsize = len(token.word_index) + 1
# print('word index : ', token.word_index)
print('wordsize is : ', wordsize)  # index 0를 padding 으로 추가 예정

wordsize is :  218318

In [43]:
## tokend_X의 아웃라이어 확인하기!!!!!!!
tokened_len = []
for i in range(len(tokened_X)):
    tokened_len.append(len(tokened_X[i]))

mean = np.mean(tokened_len)
max = int(np.trunc(mean))
print(max)

196

In [ ]:
# # 1. 가장 긴 문장의 길이 확인
# max = 0
# for i in range(len(tokened_X)):
#   if max < len(tokened_X[i]):
#       max = len(tokened_X[i])
      
#       print('max is : ', max)

In [44]:
# padding
X_pad = pad_sequences(tokened_X, max) # 앞쪽을 0으로 채움

# X_pad.to_csv('./data/padded_X_4.csv')

print(X_pad[:10])

ERROR! Session/line number was not unique in[[    0     0     0 ...  3433  1736   744]
 [    0     0     0 ... 11441    10 29381]
 [    0     0     0 ...  1247 38591   696]
 ...
 [ 9929 13206 44406 ...   436   684  1016]
 [    0     0     0 ...   125   537  5503]
 [    0     0     0 ... 25882   289  1347]] database. History logging moved to new session 364

## Train, Test set split

In [49]:
X_train, X_test, Y_train, Y_test = train_test_split(X_pad, onehot_Y, test_size=0.2)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(32788, 196)
(8198, 196)
(32788, 6)
(8198, 6)

## Train, Test set 저장

In [50]:
xy = X_train, X_test, Y_train, Y_test
np.save('./data/book_data_max_{}_wordsize_{}'.format(max, wordsize), xy)

/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/numpy/core/_asarray.py:136: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order, subok=True)

In [3]:
m_df = pd.read_csv('./data/naver_movie_genre_crawling_123128.csv', index_col=0)
m_df.head(10)

       title genre                                              story
0      0.5미리   드라마                                                NaN
1       00c6   드라마  곧 다가오는 미래에 중국 사회는 인구 불균형 위기에 직면하게 되고, 중국 남자 인구...
2      02-06   드라마                                                NaN
3  03:34 대지진   드라마  두 아들의 엄마, 알리시아는 이혼한 남편, 아이들과 떨어져 휴가를 즐기고 애나는 남...
4   0609_청계산   드라마  오래된 연인이 산을 오른다. 두 사람은 가까이 있다가도 멀리 있다. 정상에서, 두 ...
5     0시의 그녀   드라마  슈퍼스타를 꿈꾸던 주인공 지단. 우연히 운영을 맡게 된 노래방에서 수상한 알바생 세...
6       1 데이   드라마                                                NaN
7   1 마일 투 유   드라마                                                NaN
8      1 메시지   드라마                                                NaN
9   1 베를린-할렘   드라마                                                NaN

In [4]:
len(m_df)

123128

In [5]:
m_df = m_df.dropna(axis=0)
len(m_df)

57114

In [6]:
for i in range(len(m_df)):
    for j in range(5, 1, -1):
        m_df.iloc[i,2] = m_df.iloc[i,2].replace(' '*j,  ' ')

In [7]:
print('after gap-healing:', len(m_df))

after gap-healing: 57114

In [8]:
sum2_dup = m_df.story.duplicated().sum()
sum2_dup

636

In [9]:
m_df = m_df.drop_duplicates(subset=['story'])
# sum2_dup= m_df.Introduction.duplicated().sum()
# sum2_dup

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3437, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-9-f517f7e03f19>", line 2, in <module>
    sum2_dup= m_df.Introduction.duplicated().sum()
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/pandas/core/generic.py", line 5465, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'Introduction'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'AttributeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/inspect.py", line 1502, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/inspect.py", line 1460, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/inspect.py", line 733, in getmodule
    if ismodule(module) and hasattr(module, '__file__'):
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/tensorflow/__init__.py", line 50, in __getattr__
    module = self._load()
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/tensorflow/__init__.py", line 44, in _load
    module = _importlib.import_module(self.__name__)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/importlib/__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1006, in _gcd_import
  File "<frozen importlib._bootstrap>", line 983, in _find_and_load
  File "<frozen importlib._bootstrap>", line 965, in _find_and_load_unlocked
ModuleNotFoundError: No module named 'tensorflow_core.estimator'
Traceback (most recent call last):
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3437, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-9-f517f7e03f19>", line 2, in <module>
    sum2_dup= m_df.Introduction.duplicated().sum()
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/pandas/core/generic.py", line 5465, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'Introduction'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'AttributeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3357, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3454, in run_code
    self.showtraceback(running_compiled_code=True)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2064, in showtraceback
    value, tb, tb_offset=tb_offset)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1368, in structured_traceback
    self, etype, value, tb, tb_offset, number_of_lines_of_context)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1268, in structured_traceback
    self, etype, value, tb, tb_offset, number_of_lines_of_context
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1125, in structured_traceback
    tb_offset)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/inspect.py", line 1502, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/inspect.py", line 1460, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/inspect.py", line 733, in getmodule
    if ismodule(module) and hasattr(module, '__file__'):
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/tensorflow/__init__.py", line 50, in __getattr__
    module = self._load()
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/tensorflow/__init__.py", line 44, in _load
    module = _importlib.import_module(self.__name__)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/importlib/__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1006, in _gcd_import
  File "<frozen importlib._bootstrap>", line 983, in _find_and_load
  File "<frozen importlib._bootstrap>", line 965, in _find_and_load_unlocked
ModuleNotFoundError: No module named 'tensorflow_core.estimator'
Traceback (most recent call last):
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3437, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-9-f517f7e03f19>", line 2, in <module>
    sum2_dup= m_df.Introduction.duplicated().sum()
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/pandas/core/generic.py", line 5465, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'Introduction'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'AttributeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3357, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3454, in run_code
    self.showtraceback(running_compiled_code=True)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2064, in showtraceback
    value, tb, tb_offset=tb_offset)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1368, in structured_traceback
    self, etype, value, tb, tb_offset, number_of_lines_of_context)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1268, in structured_traceback
    self, etype, value, tb, tb_offset, number_of_lines_of_context
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1125, in structured_traceback
    tb_offset)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2940, in _run_cell
    return runner(coro)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/async_helpers.py", line 68, in _pseudo_sync_runner
    coro.send(None)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3166, in run_cell_async
    interactivity=interactivity, compiler=compiler, result=result)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3376, in run_ast_nodes
    self.showtraceback()
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2064, in showtraceback
    value, tb, tb_offset=tb_offset)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1368, in structured_traceback
    self, etype, value, tb, tb_offset, number_of_lines_of_context)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1268, in structured_traceback
    self, etype, value, tb, tb_offset, number_of_lines_of_context
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1143, in structured_traceback
    chained_exceptions_tb_offset)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/inspect.py", line 1502, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/inspect.py", line 1460, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/inspect.py", line 733, in getmodule
    if ismodule(module) and hasattr(module, '__file__'):
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/tensorflow/__init__.py", line 50, in __getattr__
    module = self._load()
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/site-packages/tensorflow/__init__.py", line 44, in _load
    module = _importlib.import_module(self.__name__)
  File "/home/kaeun/.conda/envs/tf/lib/python3.7/importlib/__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1006, in _gcd_import
  File "<frozen importlib._bootstrap>", line 983, in _find_and_load
  File "<frozen importlib._bootstrap>", line 965, in _find_and_load_unlocked
ModuleNotFoundError: No module named 'tensorflow_core.estimator'

In [13]:
len(m_df)

56478

In [14]:
m_df['cnt'] = 1

In [15]:
m_df

,title,genre,story,cnt
1,00c6,드라마,"곧 다가오는 미래에 중국 사회는 인구 불균형 위기에 직면하게 되고, 중국 남자 인구...",1
3,03:34 대지진,드라마,"두 아들의 엄마, 알리시아는 이혼한 남편, 아이들과 떨어져 휴가를 즐기고 애나는 남...",1
4,0609_청계산,드라마,"오래된 연인이 산을 오른다. 두 사람은 가까이 있다가도 멀리 있다. 정상에서, 두 ...",1
5,0시의 그녀,드라마,슈퍼스타를 꿈꾸던 주인공 지단. 우연히 운영을 맡게 된 노래방에서 수상한 알바생 세...,1
12,1%의 어떤 것,드라마,20대~30대의 여섯 남녀들의 사랑을 그린 이야기,1
...,...,...,...,...
123123,호두까기 인형,공연실황,덫을 만들어 많은 쥐들을 죽게 만든 드로셀마이어에게 앙심을 품은 생쥐 왕은 드로셀마...,1
123124,호수의 여인,공연실황,16세기 초 스코틀랜드의 하이랜드를 배경으로 귀족들과 호수의 여인과의 사랑과 권력 ...,1
123125,호수의 여인 @ The Met,공연실황,벨칸토 레퍼토리의 수퍼스타 조이스 디도나토와 후안 디에고 플로레스가 고난도 성악 테...,1
123126,호프만 이야기,공연실황,"세 가지 에피소드가 ‘옴니버스’ 형태를 이루고 있는 오페라로, 세 가지 에피소드는 ...",1
123127,후궁탈출,공연실황,"젊은 귀족 여인 콘스탄체와 하녀 블론데, 콘스탄체의 약혼자 벨몬테의 하인 페드리요는...",1

In [16]:
group1 = m_df['cnt'].groupby(m_df['genre'])
group1.sum()

genre
SF          880
가족          669
공연실황        444
공포         2472
느와르          39
다큐멘터리      8187
드라마       20689
멜로/로맨스     3260
모험          860
무협           72
뮤지컬         154
미스터리        483
범죄         1616
블랙코미디        21
서부          129
서사           25
서스펜스         43
스릴러        1580
실험          776
애니메이션      2192
액션         5305
전쟁          331
컬트            4
코미디        5584
판타지         663
Name: cnt, dtype: int64